In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_stata('Files/merged_slim_data_ebook_noDups.dta')

In [3]:
df2 = pd.read_excel('Files/authors_and_books 3.xlsx')

In [4]:
df3 = pd.read_stata('Files/Archive/merged_slim_data_printbook_noDups.dta')

In [30]:
df4 = pd.read_stata('Files/Archive/merged_slim_data_reviews_noDups.dta')

In [88]:
df5 = pd.read_excel('author_advance_dataset.xlsx', index_col=0)


df5 = pd.merge(df5,df2, left_on='Author(s)', right_on='author')
df5 = df5[~df5['Advance'].isna()]

deals = {
    'NICE' : (1+49000)/2,
    'VERY NICE' : (50000 + 99000)/2,
    'GOOD' : (100000 + 250000)/2,
    'SIGNIFICANT' : (251000 + 499000)/2,
    'MAJOR' : (500000 + 750000)/2
}

df5['Advance'] = df5['Advance'].replace(deals)

In [28]:
df1 = df1[~df1['isbn13'].isna()]
df2 = df2[~df2['isbn13'].isna()]
df3 = df3[~df3['isbn13'].isna()]

In [31]:
df4 = df4[~((df4['printisbn13s'] =='') & (df4['ebookisbn13s'] ==''))]

df4['printisbn13s'] = df4['printisbn13s'].str.slice(start=2, stop=-2)
df4['ebookisbn13s'] = df4['ebookisbn13s'].str.slice(start=2, stop=-2)

df4 = df4[(df4['printisbn13s'].str.len()==13) | (df4['ebookisbn13s'].str.len()==13)]

df4['printisbn13s'] = pd.to_numeric(df4['printisbn13s'], errors='coerce').astype('float64')
df4['printisbn13s'] = df4['printisbn13s'].replace('', np.nan)

df4['ebookisbn13s'] = pd.to_numeric(df4['ebookisbn13s'], errors='coerce').astype('float64')
df4['ebookisbn13s'] = df4['ebookisbn13s'].replace('', np.nan)

In [9]:
print(len(df2['isbn13']), len(df2['isbn13'].unique()))
print(len(df2['title']), len(df2['title'].unique()))

print(len(df4['ebookisbn13s']), len(df4['ebookisbn13s'].unique()))

181828 516
181828 157305
2305275 70408

In [15]:
import gender_guesser.detector as gender
gender.Detector(case_sensitive=False).get_gender('leigh')

'mostly_female'

In [107]:
#df5['gender'] = df5['first_name'].apply(lambda x : gender.Detector(case_sensitive=False).get_gender(x))

In [63]:
#df5.to_csv('Advance_data+Ethnicity_data_merged_with gender.csv')

In [86]:
x = pd.merge(df5,df1, on='isbn13')

In [90]:
x

,Hispanic,API,Black,AIAN,White,first_name,last_name,isbn13,price,totalrevenue,soldunits,filename
0,0.004086,0.003060,0.000632,0.000345,0.991606,christine,lehner,9.780547e+12,1079,0,0,sales_ebook20180501_20180531.csv
1,0.004762,0.018166,0.021703,0.002504,0.952296,christine,mann,9.781642e+12,999,0,0,sales_ebook20210801_20210831.csv
2,0.004762,0.018166,0.021703,0.002504,0.952296,christine,mann,9.781642e+12,999,0,0,sales_ebook20210701_20210731.csv
3,0.004762,0.018166,0.021703,0.002504,0.952296,christine,mann,9.781642e+12,999,0,0,sales_ebook20210601_20210630.csv
4,0.004762,0.018166,0.021703,0.002504,0.952296,christine,mann,9.781642e+12,999,0,0,sales_ebook20210501_20210531.csv
...,...,...,...,...,...,...,...,...,...,...,...,...
671947,0.961456,0.003278,0.000362,0.000218,0.034336,Ã¡lvaro,vargas,9.788408e+12,999,3996,4,sales_ebook20180501_20180531.csv
671948,0.961456,0.003278,0.000362,0.000218,0.034336,Ã¡lvaro,vargas,9.788408e+12,999,0,0,sales_ebook20180501_20180531.csv
671949,0.961456,0.003278,0.000362,0.000218,0.034336,Ã¡lvaro,vargas,9.788408e+12,999,999,1,sales_ebook20180501_20180531.csv
671950,0.961456,0.003278,0.000362,0.000218,0.034336,Ã¡lvaro,vargas,9.788408e+12,999,2997,3,sales_ebook20180401_20180430.csv
671951,0.961456,0.003278,0.000362,0.000218,0.034336,Ã¡lvaro,vargas,9.788408e+12,999,999,1,sales_ebook20180401_20180430.csv

In [98]:
#[['Title','Advance', 'isbn13']]
y = pd.read_excel('Files/processed_authors_nameprism_withISBN13.xlsx')

In [101]:
z = pd.merge(y, df3, on='isbn13')

In [104]:
y = y[~y['isbn13'].isna()]

In [105]:
y

,2PRACE,Hispanic,API,Black,AIAN,White,first_name,last_name,isbn13
1,0.000434,0.003756,0.003193,0.026091,0.001311,0.965215,christine,kersey,9.781697e+12
5,0.000176,0.011265,0.008745,0.009289,0.000481,0.970044,christine,kezelos,9.780998e+12
7,0.000842,0.001508,0.001134,0.000867,0.000496,0.995152,christine,kindberg,9.781798e+12
17,0.000350,0.003226,0.004577,0.000957,0.000375,0.990515,christine,kling,9.780991e+12
18,0.000350,0.003226,0.004577,0.000957,0.000375,0.990515,christine,kling,9.780991e+12
...,...,...,...,...,...,...,...,...,...
318779,0.000010,0.005820,0.017565,0.029161,0.000018,0.947426,wings,gift,9.781660e+12
318780,0.001582,0.019919,0.051566,0.062911,0.014431,0.849591,xtine,burrough,9.780136e+12
318783,0.016232,0.010407,0.084388,0.011794,0.000541,0.876637,yasmeen,sayyah,9.781978e+12
318784,0.003831,0.001509,0.038478,0.005656,0.000514,0.950012,zaki,book,9.798648e+12
318786,0.000350,0.961456,0.003278,0.000362,0.000218,0.034336,Ã¡lvaro,vargas,9.788408e+12

In [47]:
df4_ebook = df4[~df4['ebookisbn13s'].isna()]
df4_ebook = df4_ebook.groupby('ebookisbn13s', as_index=False)['reviewrating'].mean()

In [61]:
df_ebook = pd.merge(df1_ebook, df4_ebook, left_on='isbn13', right_on='ebookisbn13s')

In [62]:
df_ebook

             isbn13  totalrevenue  ebookisbn13s  reviewrating
0      1.710175e+12          9908  1.710175e+12    461.904755
1      1.801075e+12         10533  1.801075e+12    445.000000
2      1.801246e+12         20726  1.801246e+12    480.000000
3      8.791371e+12        893506  8.791371e+12    461.916656
4      9.780007e+12        387811  9.780007e+12    420.588226
...             ...           ...           ...           ...
70118  9.798615e+12             0  9.798615e+12    412.000000
70119  9.798643e+12          8970  9.798643e+12    412.500000
70120  9.798646e+12        536826  9.798646e+12    425.576202
70121  9.798651e+12      11706942  9.798651e+12    441.362427
70122  9.798652e+12        858605  9.798652e+12    420.993011

[70123 rows x 4 columns]

In [72]:
print(len(df5['isbn13']), len(df5['isbn13'].unique()))

6145 999

In [114]:
df_advance_ebook.to_csv('Files/advanceXtotalrevenueXebook.csv')

In [115]:
df_advance_ebook.describe()

,Advance,2PRACE,Hispanic,API,Black,AIAN,White,isbn13,totalrevenue
count,230.000000,230.000000,230.000000,230.000000,230.000000,2.300000e+02,230.000000,2.300000e+02,2.300000e+02
mean,139013.332609,0.000619,0.007257,0.027638,0.052798,1.601657e-03,0.910086,9.781557e+12,2.003532e+06
std,192764.412979,0.000814,0.017056,0.142025,0.102331,2.312968e-03,0.168317,1.405357e+09,7.115008e+06
min,24500.500000,0.000002,0.000036,0.000248,0.000036,2.260718e-07,0.002291,9.780062e+12,0.000000e+00
25%,24500.500000,0.000332,0.001910,0.001345,0.004058,7.293212e-04,0.927849,9.781250e+12,3.584300e+04
50%,24500.500000,0.000447,0.003226,0.002005,0.027232,1.280611e-03,0.958912,9.781490e+12,1.721520e+05
75%,175000.000000,0.000588,0.005747,0.004057,0.047484,1.915904e-03,0.982159,9.781642e+12,7.025680e+05
max,625000.000000,0.007470,0.169839,0.996902,0.852571,1.998428e-02,0.996663,9.788490e+12,4.516037e+07

In [24]:
df4_pbook = df4[~df4['printisbn13s'].isna()]
df4_pbook = df4_pbook.groupby('printisbn13s', as_index=False)['reviewrating'].mean()

df1_pbook  = df1.groupby('isbn13', as_index=False)['totalrevenue'].sum()

df_pbook = pd.merge(df1, df4_pbook, left_on='isbn13', right_on='printisbn13s')

In [26]:
df_pbook = pd.merge(df5, df_pbook, left_on='isbn13_y', right_on='printisbn13s')

In [27]:
df_pbook

Empty DataFrame
Columns: [Rights Category, Genre, Date, Author(s), Title, Publishers, Big Publishing House Affilation, Advance, Competition, Awards, Bestseller, Self Publishing, Debut, Series, All, title_x, datepublished_x, author_x, isbn13_x, author_first_name_x, author_last_name_x, title_y, datepublished_y, author_y, isbn13_y, author_first_name_y, author_last_name_y, price, totalrevenue, isbn13, soldunits, filename, printisbn13s, reviewrating]
Index: []

[0 rows x 34 columns]

In [125]:
df_pbook.to_csv('Files/advanceXtotalrevenueXprintbook.csv')

In [58]:
df5

,Rights Category,Genre,Date,Author(s),Title,Publishers,Big Publishing House Affilation,Advance,Competition,Awards,...,Self Publishing,Debut,Series,All,title,datepublished,author,isbn13,author_first_name,author_last_name
19,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,74500.0,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...",David Mogo Godhunter,2019-07-09 00:00:00,Suyi Davies Okungbowa,9.781790e+12,suyi,okungbowa
20,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,74500.0,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...","David Mogo, Godhunter",2019-07-09 00:00:00,Suyi Davies Okungbowa,9.781780e+12,suyi,okungbowa
21,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,74500.0,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...","Son of the Storm (The Nameless Republic, 1)",2021-05-11 00:00:00,Suyi Davies Okungbowa,9.780320e+12,suyi,okungbowa
22,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,74500.0,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...",Son of the Storm (The Nameless Republic Book 1),2021-05-11 00:00:00,Suyi Davies Okungbowa,9.780320e+12,suyi,okungbowa
46,Digital Fiction,Romance,2020-11-11,Lucy Parker,NONE,"['Kerri Buckley', 'Carina Press', 'Elaine Spen...",NaN,24500.5,NaN,NaN,...,NaN,NaN,NaN,Lucy Parker's sixth book in London Celebrities...,Headliners: An Enemies-to-Lovers Romance (Lond...,2020-01-28 00:00:00,Lucy Parker,9.781340e+12,lucy,parker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168527,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,24500.5,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,Private Lessons (The Return of the Black Stock...,2017-09-03 00:00:00,Dara Girard,9.781980e+12,dara,girard
168528,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,24500.5,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,Secret Paradise (Dupree Sisters) (Volume 2),2018-09-15 00:00:00,Dara Girard,9.781950e+12,dara,girard
168529,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,24500.5,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,Secret Paradise (Dupree Sisters Book 2),2018-08-31 00:00:00,Dara Girard,9.781490e+12,dara,girard
168530,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,24500.5,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,A Reluctant Hero (Duvall Sisters Book 3),2019-01-09 00:00:00,Dara Girard,9.781460e+12,dara,girard
168565,International rights,UK Non-fiction,2008-01-15,Kimiko Barber,THE CHOPSTICKS DIET,"['Kyle Cathie', 'Kyle Cathie Books', 'Ivan Mul...",NaN,24500.5,NaN,NaN,...,NaN,NaN,NaN,"Kimiko Barber's THE CHOPSTICKS DIET, to Kyle C...",Sushi: Taste and Technique,2023-01-06 00:00:00,Kimiko Barber,9.781470e+12,kimiko,barber

In [148]:
df5.columns

Index(['Rights Category', 'Genre', 'Date', 'Author(s)', 'Title', 'Publishers',
       'Big Publishing House Affilation', 'Advance', 'Competition', 'Awards',
       'Bestseller', 'Self Publishing', 'Debut', 'Series', 'All', '2PRACE',
       'Hispanic', 'API', 'Black', 'AIAN', 'White', 'first_name', 'last_name',
       'isbn13', 'Full_Name', 'gender'],
      dtype='object')

In [159]:
merged_df = pd.merge(df1,df2, on='isbn13')
#merged_df = pd.merge(merged_df,df3, on='isbn13')
#merged_df = pd.merge(merged_df,df4, left_on='isbn13', right_on='ebookisbn13')
#merged_df = pd.merge(merged_df,df5, on='isbn13')

In [160]:
merged_df

Empty DataFrame
Columns: [price, totalrevenue, isbn13, soldunits, filename, title, datepublished, author, author_first_name, author_last_name]
Index: []

In [158]:
df2

,title,datepublished,author,isbn13,author_first_name,author_last_name
1,Hiking the Appalachian Trail - One Section at ...,2020-04-23 00:00:00,"""Big Bob"" Olson",9.781980e+12,big,olson
3,Dinosaurs! My First Book About Herbivores (Din...,2020-09-22 00:00:00,"""Dinosaur George"" Blasing",9.781650e+12,dinosaur,blasing
6,Triathlon Nutrition Foundations: A System to N...,2020-06-29 00:00:00,"""Triathlon Taren"" Gesell",9.781780e+12,triathlon,gesell
13,Poirot Investigates (abridged edition),2019-02-05 00:00:00,Agatha Christie,9.781940e+12,agatha,christie
15,The Mysterious Affair at Styles Hercule Poirot #1,2020-12-15 00:00:00,Agatha Christie,9.798580e+12,agatha,christie
...,...,...,...,...,...,...
390091,Wings of Fire Sketchbook: Wings Of Fire How To...,2020-01-13 00:00:00,wings of fire Sketchbook gift,9.781660e+12,wings,gift
390092,Foundations of Digital Art and Design with Ado...,2019-07-08 00:00:00,xtine burrough,9.780140e+12,xtine,burrough
390095,this is what it means to seek,2017-11-04 00:00:00,yasmeen adele naseem sayyah,9.781980e+12,yasmeen,sayyah
390096,wings of fire coloring book: Wings Of Fire Dra...,2020-05-22 00:00:00,zaki wings of fire coloring book,9.798650e+12,zaki,book
390098,A comer se aprende: Alimentaciï¿½n sana para t...,2018-04-05 00:00:00,Ãlvaro Vargas,9.788410e+12,Ã¡lvaro,vargas

In [172]:
x = pd.read_excel('author_advance_dataset.xlsx')

In [178]:
df5.dtypes

Rights Category                     object
Genre                               object
Date                                object
Author(s)                           object
Title                               object
Publishers                          object
Big Publishing House Affilation     object
Advance                            float64
Competition                         object
Awards                              object
Bestseller                          object
Self Publishing                     object
Debut                               object
Series                              object
All                                 object
2PRACE                             float64
Hispanic                           float64
API                                float64
Black                              float64
AIAN                               float64
White                              float64
first_name                          object
last_name                           object
isbn13                             float64
Full_Name                           object
gender                              object
dtype: object

In [15]:
df2
x = pd.read_excel('author_advance_dataset.xlsx', index_col=0)

In [16]:
x

,Rights Category,Genre,Date,Author(s),Title,Publishers,Big Publishing House Affilation,Advance,Competition,Awards,Bestseller,Self Publishing,Debut,Series,All
0,International rights,Children's,2023-03-15,NONE,TALES OF SASHA,Bayard Editions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alexa Pearl's TALES OF SASHA #4: PRINCESS LESS...
1,Non-fiction,Memoir,2023-03-15,Michael Kleber-Diggs,MY WEIGHT IN WATER,"['Joey McGarvey', 'Spiegel & Grau', 'Jennifer ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Max Ritvo Prizeâ€“winning poet Michael Kleber-...
2,International rights,UK Fiction,2023-03-15,Kynpham Sing Nongkynrih,FUNERAL NIGHTS,"['Stefan Tobler', 'And Other Stories', 'Tara T...",NaN,NICE,NaN,NaN,NaN,NaN,NaN,NaN,Indian writer Kynpham Sing Nongkynrih's FUNERA...
3,International rights,Fiction,2023-03-15,NONE,AN ORCHARD IN DAMASCUS,"['Veronique Cardi', 'Lattes', 'Carla Briner', ...",NaN,NaN,YES,NaN,NaN,NaN,NaN,NaN,"Camille Neveux's AN ORCHARD IN DAMASCUS, to Ve..."
4,International rights,Fiction,2023-03-15,NONE,THE SHADOW MURDERS,"['Fantasy Foundation', 'Ann Huang', 'The Grayh...",NaN,NICE,NaN,NaN,NaN,NaN,NaN,NaN,"Jussi Adler-Olsen's THE SHADOW MURDERS, to Fan..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168795,International rights,Non-fiction,2008-01-04,NONE,NONE,AMG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bulgarian rights to Richard Hoagland and Mike ...
168796,Fiction,Romance,2008-01-04,Judith Gould,"['THE WINDS OF CHANCE', 'SINS']","['Joseph Pittman', 'Alyson Books', 'Alan Nevin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Judith Gould's THE WINDS OF CHANCE and SINS, t..."
168797,Non-fiction,How-To,2008-01-04,"['Linda Meyers', 'John Meyers']",TOSSED & FOUND,"['Dervla Kelly', 'Stewart, Tabori & Chang', 'S...",NaN,NICE,NaN,NaN,NaN,NaN,NaN,NaN,Interior designers Linda Meyers and John Meyer...
168798,International rights,Non-fiction,2008-01-04,NONE,NONE,"['Alex Craig', 'Pan Macmillan Australia', 'Rec...",Macmillan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian and New Zealand rights to Marsha Bo...
168799,Non-fiction,Memoir,2008-01-04,"[""Chris O'Dell"", 'Katherine Ketcham']",LADY IN WAITING,"['Trish Todd', 'Touchstone Fireside', 'Linda L...",NaN,SIGNIFICANT,YES,NaN,NaN,NaN,NaN,NaN,"Tour manager, friend, lover, and confidante to..."

In [18]:
df2
y= pd.merge(x,df2, left_on='Author(s)', right_on='author')

In [20]:
y[~y['Advance'].isna()]

,Rights Category,Genre,Date,Author(s),Title,Publishers,Big Publishing House Affilation,Advance,Competition,Awards,...,Self Publishing,Debut,Series,All,title,datepublished,author,isbn13,author_first_name,author_last_name
19,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,VERY NICE,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...",David Mogo Godhunter,2019-07-09 00:00:00,Suyi Davies Okungbowa,9.781790e+12,suyi,okungbowa
20,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,VERY NICE,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...","David Mogo, Godhunter",2019-07-09 00:00:00,Suyi Davies Okungbowa,9.781780e+12,suyi,okungbowa
21,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,VERY NICE,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...","Son of the Storm (The Nameless Republic, 1)",2021-05-11 00:00:00,Suyi Davies Okungbowa,9.780320e+12,suyi,okungbowa
22,Fiction,Sci-Fi/ Fantasy,2020-01-15,Suyi Davies Okungbowa,THE NAMELESS REPUBLIC,"['Nivia Evans', 'Orbit', 'Eddie Schneider', 'J...",NaN,VERY NICE,NaN,NaN,...,NaN,NaN,NaN,"Suyi Davies Okungbowa's THE NAMELESS REPUBLIC,...",Son of the Storm (The Nameless Republic Book 1),2021-05-11 00:00:00,Suyi Davies Okungbowa,9.780320e+12,suyi,okungbowa
46,Digital Fiction,Romance,2020-11-11,Lucy Parker,NONE,"['Kerri Buckley', 'Carina Press', 'Elaine Spen...",NaN,NICE,NaN,NaN,...,NaN,NaN,NaN,Lucy Parker's sixth book in London Celebrities...,Headliners: An Enemies-to-Lovers Romance (Lond...,2020-01-28 00:00:00,Lucy Parker,9.781340e+12,lucy,parker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168527,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,NICE,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,Private Lessons (The Return of the Black Stock...,2017-09-03 00:00:00,Dara Girard,9.781980e+12,dara,girard
168528,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,NICE,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,Secret Paradise (Dupree Sisters) (Volume 2),2018-09-15 00:00:00,Dara Girard,9.781950e+12,dara,girard
168529,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,NICE,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,Secret Paradise (Dupree Sisters Book 2),2018-08-31 00:00:00,Dara Girard,9.781490e+12,dara,girard
168530,Fiction,Romance,2008-01-18,Dara Girard,BLACK STOCKING SOCIETY,"['Glenda Howard', 'Kimani', 'Emily Sylvan Kim'...",NaN,NICE,NaN,NaN,...,NaN,NaN,NaN,Dara Girard's books #3 and 4 in the BLACK STOC...,A Reluctant Hero (Duvall Sisters Book 3),2019-01-09 00:00:00,Dara Girard,9.781460e+12,dara,girard
168565,International rights,UK Non-fiction,2008-01-15,Kimiko Barber,THE CHOPSTICKS DIET,"['Kyle Cathie', 'Kyle Cathie Books', 'Ivan Mul...",NaN,NICE,NaN,NaN,...,NaN,NaN,NaN,"Kimiko Barber's THE CHOPSTICKS DIET, to Kyle C...",Sushi: Taste and Technique,2023-01-06 00:00:00,Kimiko Barber,9.781470e+12,kimiko,barber