In [1]:
import pandas as pd

In [2]:
df_ebook = pd.read_stata('Files/merged_slim_data_ebook_noDups.dta')

In [110]:
df_nameprism.columns

Index(['2PRACE', 'Hispanic', 'API', 'Black', 'AIAN', 'White', 'first_name',
       'last_name', 'isbn13'],
      dtype='object')

In [3]:
df_nameprism = pd.read_excel('Files/processed_authors_nameprism_withISBN13.xlsx')

In [5]:
df_nameprism = df_nameprism[~df_nameprism['isbn13'].isna()]

In [6]:
df = pd.merge(df_ebook, df_nameprism, on='isbn13')

In [23]:

df_advances = pd.read_excel('author_advance_dataset.xlsx', index_col=0)

In [111]:
df_advances.columns

Index(['Rights Category', 'Genre', 'Date', 'Author(s)', 'Title', 'Publishers',
       'Big Publishing House Affilation', 'Advance', 'Competition', 'Awards',
       'Bestseller', 'Self Publishing', 'Debut', 'Series', 'All'],
      dtype='object')

In [24]:
df_advances = df_advances[~df_advances['Advance'].isna()]

In [29]:
df_advances = df_advances[df_advances['Author(s)'] != 'NONE']

In [37]:
df_advances['Author(s)'] = df_advances['Author(s)'].astype(str)

In [38]:
df_advances.dtypes

Rights Category                            object
Genre                                      object
Date                               datetime64[ns]
Author(s)                                  object
Title                                      object
Publishers                                 object
Big Publishing House Affilation            object
Advance                                    object
Competition                                object
Awards                                     object
Bestseller                                 object
Self Publishing                            object
Debut                                      object
Series                                     object
All                                        object
dtype: object

In [65]:
df.tail()

,price,totalrevenue,isbn13,soldunits,filename,2PRACE,Hispanic,API,Black,AIAN,White,first_name,last_name
671947,314,2512,9.781496e+12,8,sales_ebook20170901_20170930.csv,0.000651,0.003075,0.001166,0.116733,0.002681,0.875694,shiloh,walker
671948,303,0,9.781496e+12,0,sales_ebook20170901_20170930.csv,0.000651,0.003075,0.001166,0.116733,0.002681,0.875694,shiloh,walker
671949,303,5757,9.781496e+12,19,sales_ebook20170901_20170930.csv,0.000651,0.003075,0.001166,0.116733,0.002681,0.875694,shiloh,walker
671950,399,798,9.783962e+12,2,sales_ebook20170901_20170930.csv,0.000903,0.012338,0.097451,0.065903,0.002437,0.820968,henry,lea
671951,399,798,9.783962e+12,2,sales_ebook20170801_20170831.csv,0.000903,0.012338,0.097451,0.065903,0.002437,0.820968,henry,lea

In [76]:
df['full_name'] = df['first_name'] + ' ' + df['last_name']

In [78]:
df1 = df.groupby('full_name', as_index=False)['totalrevenue'].sum()

In [85]:
df1

               full_name  totalrevenue
0       christine lehner             0
1         christine mann         14536
2        christine naman         19485
3       christine rimmer       1405736
4     christine ristaino         15820
...                  ...           ...
3589         zietlow pat       1080812
3590      zig claybourne             0
3591         zoe forward           795
3592             zoe may       1412020
3593      Ã¡lvaro vargas         26073

[3594 rows x 2 columns]

In [91]:
df_advances.head()

,Rights Category,Genre,Date,Author(s),Title,Publishers,Big Publishing House Affilation,Advance,Competition,Awards,Bestseller,Self Publishing,Debut,Series,All
2,International rights,UK Fiction,2023-03-15,Kynpham Sing Nongkynrih,FUNERAL NIGHTS,"['Stefan Tobler', 'And Other Stories', 'Tara T...",NaN,NICE,NaN,NaN,NaN,NaN,NaN,NaN,Indian writer Kynpham Sing Nongkynrih's FUNERA...
7,Fiction,Horror,2023-03-15,Chance Forshee,A TERRIFYING TOME OF TERROR,"['Jennifer Barnes', 'Raw Dog Screaming Press']",NaN,NICE,NaN,NaN,NaN,NaN,NaN,NaN,"The Curator of Horror, a bookseller, and host ..."
13,Children's,Picture Book Fiction,2023-03-15,"['Debra Buschman', 'Tom Uleau']",THE KNIGHT & HIS TRUSTY,"['Michele McAvoy', 'The Little Press']",NaN,NICE,NaN,NaN,NaN,NaN,NaN,NaN,SCBWI Wisconsin Regional Advisor Debra Buschma...
22,Children's,Graphic Novel,2023-03-14,Junepurrr,SUBZERO,"['Desiree Rodriguez', 'Oni Press', 'Britt Sies...",NaN,VERY NICE,NaN,NaN,NaN,NaN,NaN,NaN,Creator of the webcomic series of the same nam...
42,Non-fiction,Food/ Beverage,2023-03-14,Sarah Thrush,PRESERVATION WITH A PURPOSE,"['Dan Rosenberg', 'Harvard Common Press', 'Jan...",NaN,NICE,YES,NaN,NaN,NaN,NaN,NaN,"Homesteading economist, teacher, and naturalis..."

In [89]:
p = pd.read_excel('Files/authors_and_books 3.xlsx')

In [92]:
z = pd.merge(df_advances, p, left_on='Author(s)', right_on = 'author')

In [99]:
z =z[~z['isbn13'].isna()]
z = z[~z['Advance'].isna()]
deals = {
    'NICE' : (1+49000)/2,
    'VERY NICE' : (50000 + 99000)/2,
    'GOOD' : (100000 + 250000)/2,
    'SIGNIFICANT' : (251000 + 499000)/2,
    'MAJOR' : (500000 + 750000)/2
}

z['Advance'] = z['Advance'].replace(deals)

In [102]:
z.to_csv('Advance+isbn13.csv')

In [107]:
cvs = pd.merge(df, z, on='isbn13')

In [108]:
cvs

Empty DataFrame
Columns: [price, totalrevenue, isbn13, soldunits, filename, 2PRACE, Hispanic, API, Black, AIAN, White, first_name, last_name, full_name, Rights Category, Genre, Date, Author(s), Title, Publishers, Big Publishing House Affilation, Advance, Competition, Awards, Bestseller, Self Publishing, Debut, Series, All, title, datepublished, author, author_first_name, author_last_name]
Index: []

[0 rows x 34 columns]